## Workflow 1

### WORKFLOW 1: MARK. 
Help us by marking specific segments of phone book pages. In Workflow 1 you won’t be typing, just drawing boxes around different page elements. You’ll mark advertisements, business groupings, and telephone tips. As you go, you may see existing marks left by other people . If there are more elements to mark, just pick up where another person left off.  

<div class="video-wrapper">
  <video width="680" height="515" loop autoplay src="/images/workflow1.mp4"></video>
</div>

Each telephone directory page you mark will be used to train machine learning algorithms to identify advertisements, business groupings, and telephone tips in the Yellow Pages directories. Your efforts will also help verify the accuracy of automated identification processes going forward. Your human eye and expertise can help teach our computers so that the Yellow Pages collection can be made more searchable and usable by broader research audiences in a shorter period of time.  

The business groupings you identify here in Workflow 1 will be fed directly into the next workflow on this site. For more detailed information about how your work will interact with machine learning, see the <a href="/#/data">How it Works page</a>.  

### Ready?

You may find that you prefer one of our three workflows over another, so try them all! All of the tasks in each workflow play an essential role in exposing the stories of U.S. cities and businesses hidden in historical Yellow Pages.  

<div class="columns">
  <ul>
    <li><a class="major-button" href="https://yellowpages1.weareavp.com/#/">Workflow 1</a> Mark up business groupings, advertisements and telephone tips on full-page Yellow Page images. No typing, just drawing boxes!</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 2</a>From the business groupings identified in Workflow 1, mark up business types and business  listings, and transcribe the business types. Choose between drawing boxes and typing out the fields you see.</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 3</a>From the business listings identified in Workflow 2, mark up business addresses, phone numbers, and other business information. Also, transcribe those details. Choose between drawing boxes and typing out the information you see.</li>
  </ul>
</div>
