<div class="logo">[LC Labs](https://labs.loc.gov/) presents</div>

<div class="subheading"><b>WORKFLOW TWO</b></div>

Let your fingers do the walking and help us expose the stories of U.S. cities hidden in historical Yellow Pages. 

<a class="major-button" href="/#/intro">LEARN MORE</a> 

Marking up business types and listings, and transcribing business types   

### CHOOSE A WORKFLOW

The Yellow Pages project has three separate workflows with different tasks. The tasks in each workflow play an essential role in exposing the stories of U.S. cities and businesses hidden in historical Yellow Pages. Try them all!  
 
<div class="columns">
  <ul>
    <li><a class="major-button" href="https://yellowpages1.weareavp.com/#/">Workflow 1</a>Mark up business groupings, advertisements and telephone tips on full-page Yellow Page images. No typing, just drawing boxes!</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 2</a>Mark up business types and listings from Workflow 1, and transcribe the business types. Choose between drawing boxes and typing the fields you see.</li>
    <li><a class="major-button" href="https://yellowpages3.weareavp.com/#/">Workflow 3</a>Mark up business addresses, phone numbers, and other information from Workflow 2 and transcribe those details. Choose between drawing boxes and typing the fields you see. </li>
  </ul>
</div>

----
