## Workflow 2

### MARK
Did you know that in Yellow Page directories, individual businesses were typically grouped together alphabetically by business types? In this workflow, you have the option to either mark or transcribe. In the mark task, you will mark the specific elements of a business grouping identified on a page in the Yellow Pages directories in workflow one. Dig deeper into each grouping and draw boxes around the “business type” and the “business listing.”  

How can you tell the difference? Business types are the categories that separate business listings in the Yellow Pages. For example, all of the musical businesses might be grouped together in a directory under the heading of “Music.” In this example “Music” is the business type.  

<div class="video-wrapper">
  <video width="580" height="247" loop autoplay src="/images/workflow2.mp4"></video>
</div>

Business listings refer to the individual businesses that appear listed under any given business type. In the above example, “Reed Music Co” and all of the information shown about Reed would be a business listing under Music. Listings might appear as a single line of text, or might be displayed in a more prominent box within a group of other listings. In either case, you’ll mark each listing that appears within the business grouping you are shown.  

Don’t worry if you see existing marks left by other people. Help close out the workflow by picking up where they left off. Your contributions will complete a crucial next step so that this information can be transcribed in the third and final workflow.  

Your work marking these pages will be used to help verify the accuracy of machine learning processes that are also identifying these page elements. The goal is to use your human eye and expertise to teach our computers so that eventually the whole Yellow Pages collection can be made searchable and usable by broader research audiences in a shorter period of time.  

### TRANSCRIBE

In the Transcribe task for Workflow 2, you will transcribe business type headings that were  identified in Workflow 1. Type the highlighted text you are shown exactly as you see it. Need examples? The tutorial for this task will show you examples of what you might see and how to transcribe it. Keep in mind that these are scanned pages of old telephone books so some of the pages might be blurred or difficult to read. Don’t worry, though! We’ll combine your efforts  with those of other volunteers, along with  computer programs so give it your best shot and move on.  

Your transcriptions will be used to help improve the accuracy of Library of Congress computers to recognize patterns in business type headings across a range of different Yellow Pages directories in the Library’s collections. It will also help verify that the algorithms we have designed are getting it right when identifying text on these pages.  

For more detailed information about how your work here will interact with machine learning, see the <a href="/#/data">How it Works page</a>.  

### READY?

Only want to focus on one task? No problem! Select Mark or Transcribe from the menu at the top of the screen to begin working on either task, or to switch between the two tasks at any time.  

You may find that you prefer one of our three workflows over another, so try them all! All of the tasks in each workflow play an essential role in exposing the stories of U.S. cities and businesses hidden in historical Yellow Pages.  

<div class="columns">
  <ul>
    <li><a class="major-button" href="https://yellowpages1.weareavp.com/#/">Workflow 1</a> Mark up business groupings, advertisements and telephone tips on full-page Yellow Page images. No typing, just drawing boxes!</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 2</a>From the business groupings identified in Workflow 1, mark up business types and business  listings, and transcribe the business types. Choose between drawing boxes and typing out the fields you see.</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 3</a>From the business listings identified in Workflow 2, mark up business addresses, phone numbers, and other business information. Also, transcribe those details. Choose between drawing boxes and typing out the information you see.</li>
  </ul>
</div>




