## Workflow 3

### MARK

We think we can improve the ways people can use the U.S. Telephone Directories, and Yellow Pages specifically; maybe just by simply having more information about businesses, where they were located, and other details. What you’ll see in this workflow is the result of the previous two sets of tasks: the individual business listings. In this workflow, you have the option to either mark or transcribe. In the mark task, you will mark the specific elements of business listings pulled from the Yellow Pages directories. Look at each listing and tell us what you see. You won’t be typing, just drawing boxes around different elements of a business listing.  

Business listings include business names, addresses, and phone numbers or exchanges that appear below a business type heading in the Yellow Pages, in addition to other information and graphics. See the Workflow 3 tutorial for specific examples of the parts of a business listing you might encounter in this task.  

<img src="/images/workflow3.png" alt="parts of a business listing" width="800" height="114" />

Your work will be used to help train computers to recognize the different elements of business listings that appear in Yellow Pages directories in the Library’s collections.  

### TRANSCRIBE

In the Transcribe task for Workflow 3, you will transcribe the elements of the business listings that are marked through the Mark task. Type the highlighted text you are shown exactly as you see it. The tutorial for this task will provide you with specific examples of what you might see and how to transcribe it. Keep in mind that these are scanned pages of old telephone books so some of the information you see might be blurred or difficult to read. Don’t worry! If you can’t read something, you can skip it and move on to the next.  

<div class="video-wrapper">
  <video width="580" height="247" loop autoplay src="/images/transcribe_task1.mp4"></video>
</div>

Your transcription work in the task will be used with the output of the Mark task to help train computers to recognize the different elements of business listings.  

For more detailed information about how your work here will interact with machine learning, see the <a href="/#/data">How it Works page</a>.  

### READY?

Only want to focus on one task? No problem! Select Mark or Transcribe from the menu at the top of the screen to begin working on either task, or to switch between the two tasks at any time.   

You may find that you prefer one of our three workflows over another, so try them all! All of the tasks in each workflow play an essential role in exposing the stories of U.S. cities and businesses hidden in historical Yellow Pages.  

<div class="columns">
  <ul>
    <li><a class="major-button" href="https://yellowpages1.weareavp.com/#/">Workflow 1</a> Mark up business groupings, advertisements and telephone tips on full-page Yellow Page images. No typing, just drawing boxes!</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 2</a>From the business groupings identified in Workflow 1, mark up business types and business  listings, and transcribe the business types. Choose between drawing boxes and typing out the fields you see.</li>
    <li><a class="major-button" href="https://yellowpages2.weareavp.com/#/">Workflow 3</a>From the business listings identified in Workflow 2, mark up business addresses, phone numbers, and other business information. Also, transcribe those details. Choose between drawing boxes and typing out the information you see.</li>
  </ul>
</div>


