<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>The Yellow Pages are historical documents that contain racially and culturally insensitive graphics, language, outdated terminology, and other potentially triggering content. As you are performing tasks on this site, if you encounter images that you would prefer not to see, mark, or transcribe, click the DONE button on the screen at any time to move to a new image. For questions or comments regarding sensitive content, access, and use related to this collection, please contact <a href="mailto:lc-labs@loc.gov">lc-labs@loc.gov</a>.</p>
  </div>
</div>
<div class="emigrants-footer-links">
  <div>
  </div>
</div>
